.jakartaspot25 {
  position: absolute;
  width: 109.64%;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  display: inline-block;
  font-weight: 800;
  background: linear-gradient(90deg, #e2f3fd, #ffe2a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.jakartaspot24 {
  width: 100%;
  position: relative;
  height: 61px;
  text-align: left;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inter);
}
